$primary: #4caf50;
$link: $primary;
$navbar-item-color: $primary;

div.has-navbar-fixed-top {
  padding-top: 3.25rem;
}

h2.has-more-line-space {
  line-height: 1.5;
}

.phone-frame-intro {
  background-image: url('../../static/img/phone.png');
  height: 664px;
  width: 326;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}

.phone-frame-section {
  background-image: url('../../static/img/phone.png');
  height: 500px;
  width: 245px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}

//@import '~bulma/bulma';
@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/base/_all';
@import '~bulma/sass/components/navbar';
@import '~bulma/sass/elements/button';
@import '~bulma/sass/elements/content';
@import '~bulma/sass/elements/container';
@import '~bulma/sass/elements/title';
@import '~bulma/sass/grid/columns';
@import '~bulma/sass/layout/footer';
@import '~bulma/sass/layout/hero';
